server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/order_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

external:
  user-service:
    base-url: http://localhost:8081
  product-service:
    base-url: http://localhost:8082
